#task {
    background-color: #FFBF65;
    border-radius: 35px;
    width: 850px;
    height: 80px;
    padding: 15px 20px;
    margin: 20px 0;

    display: flex;
    justify-content: stretch;
    gap: 22px;
}

#checkbox {
    border: 5px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#taskNameAndDueDate {
    padding: 0;
    gap: 0;
}

#editButton {
    border: 3px solid white;
    border-radius: 35px;
    margin-left: 375px;
    padding: 0 30px;
    font-size: 30px;
}

#deleteButton {
    font-family: "Arial", sans-serif;
    font-size: 95px;
    font-weight: 400;
    transform: translateY(-22px) translateX(10px) rotate(45deg);
}

p {
    color: white;
}

#taskName {
    font-size: 38px;
    transform: translateY(-10px);
}

#dueDate {
    font-size: 22px;
    opacity: 0.8;
    transform: translateY(-18px);
}