#task {
    border-radius: 35px;
    width: 850px;
    height: 80px;
    padding: 15px 20px;
    margin: 20px 0;

    display: flex;
    justify-content: stretch;
    gap: 25px;
}

#checkbox {
    border: 5px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

p {
    color: white;
}

#taskNameAndDueDate {
    align-self: center;
    line-height: 1;
}

#taskName {
    font-size: 38px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#dueDate {
    font-size: 22px;
    opacity: 0.8;
}

#description {
    font-size: 34px;
    align-self: center;
    width: 250px;
    margin-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.65;
}

#editButton {
    border: 3px solid white;
    border-radius: 35px;
    padding: 0 30px;
    font-size: 30px;
}

#deleteButton {
    font-family: "Arial", sans-serif;
    font-size: 95px;
    font-weight: 400;
    align-self: center;
    transform: rotate(45deg);
}

dialog  {
    background-color: #ffe710;
    border-radius: 10px;
    margin: auto;
    color: white;
}

legend, dialog button {
    font-size: 35px;
}

dialog p, label {
    font-size: 30px;
    padding-right: 10px;
}

#dialogButtons {
    justify-self: center;
}

dialog button {
    padding: 15px 30px 0;
}

fieldset {
    border: 2px solid rgb(243, 209, 19);
    border-radius: 10px;
}

input {
    border: none;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 22px;
    margin: 5px 0;
}

input:hover {
    cursor: text;
}

input[type='radio'] {
    width: 25px;
    height: 25px;
    align-self: center;
    cursor: pointer;
    accent-color: #FFBF65;
}

input[type='text'] {
    font-family: "Arial", sans-serif;
    align-self: center;
    min-width: auto;
    max-width: 300px;
    height: 35px;
}

.priorityChoice {
    font-size: 25px;
}