#task {
    border-radius: 35px;
    width: 850px;
    height: 80px;
    padding: 15px 20px;
    margin: 20px 0;

    display: flex;
    justify-content: stretch;
    gap: 25px;
    position: relative;
}

#checkbox {
    appearance: none;
    border: 5px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0;
}

#checkbox:checked {
    background-color: white;
}

#checkbox:checked::after {
  content: '';
  position: relative;
  display: block;
  left: 2.5px;
  bottom: 16px;
  width: 12px;
  height: 24px;
  border: solid #D6D6D6;
  border-width: 0 4px 4px 0;
  transform: rotate(40deg);
}

#crossOff {
    background-color: white;
    opacity: 0.7;
    width: 160px;
    height: 4px;
    position: absolute;
    top: 40px;
    left: 85px;
}

p {
    color: white;
}

#taskNameAndDueDate {
    align-self: center;
    line-height: 1;
}

#taskName {
    font-size: 38px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#dueDate {
    font-size: 22px;
    opacity: 0.8;
}

#description {
    font-size: 34px;
    align-self: center;
    max-width: 325px;
    margin-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.65;

    position: absolute;
    left: 265px;
}

#editButton {
    border: 3px solid white;
    border-radius: 35px;
    padding: 0 30px;
    font-size: 30px;

    position: absolute;
    right: 100px;
    top: 18px;
}

#deleteButton {
    font-family: "Arial", sans-serif;
    font-size: 95px;
    font-weight: 400;
    align-self: center;
    transform: rotate(45deg);

    position: absolute;
    right: 25px;
}

dialog  {
    background-color: #ffe710;
    border-radius: 10px;
    margin: auto;
    color: white;
}

legend, dialog button {
    font-size: 35px;
}

dialog p, label {
    font-size: 30px;
    padding-right: 10px;
}

#dialogButtons {
    justify-self: center;
}

dialog button {
    padding: 15px 30px 0;
}

fieldset {
    border: 2px solid rgb(243, 209, 19);
    border-radius: 10px;
}

input {
    border: none;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 22px;
    margin: 5px 0;
}

input:hover {
    cursor: text;
}

input[type='radio'] {
    width: 25px;
    height: 25px;
    align-self: center;
    cursor: pointer;
    accent-color: #FFBF65;
}

input[type='text'] {
    font-family: "Arial", sans-serif;
    align-self: center;
    min-width: auto;
    max-width: 300px;
    height: 35px;
}

.priorityChoice {
    font-size: 25px;
}

#projectsToClick {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}