#task, #checkbox:checked::after, .projectListItem {
    position: relative;
}

#description, #crossOff, #editButton, #deleteProjectButton, #deleteProjectButton:hover, #deleteButton {
    position: absolute;
}

#task, .projectListItem, .projectButtons {
    display: flex;
}

p, dialog, .projectButtons:hover + #deleteProjectButton {
    color: white;
}

#taskNameAndDueDate, #description, #deleteButton, #deleteProjectButton, input[type='radio'], input[type='text'] {
    align-self: center;
}

#editButton, #deleteButton, #deleteProjectButton {
    user-select: none;
}

#taskName, #description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#task {
    border-radius: 25px;
    width: 950px;
    height: 70px;
    padding: 10px 18px;
    margin: 18px 0;

    justify-content: stretch;
    gap: 25px;
    transition: scale 0.2s ease;
}

#task:hover {
    scale: 101%;
}

#checkbox {
    appearance: none;
    border: 3px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin: 2px 0 0;
    padding: 0;
}

#checkbox:checked, #crossOff {
    background-color: white;
}

#checkbox:checked::after {
  content: '';
  display: block;
  left: 11px;
  top: 3px;
  width: 12px;
  height: 24px;
  border: solid #D6D6D6;
  border-width: 0 4px 4px 0;
  transform: rotate(40deg);
}

#crossOff {
    opacity: 0.7;
    width: 160px;
    height: 4px;
    top: 35px;
    left: 85px;
}

#taskNameAndDueDate {
    line-height: 0.9;
}

#taskName {
    font-size: 35px;
    max-width: 200px;
}

#dueDate {
    font-size: 22px;
    opacity: 0.8;
}

#description {
    font-size: 34px;
    max-width: 325px;
    margin-right: 25px;
    opacity: 0.65;

    left: 265px;
}

#editButton {
    border: 3px solid white;
    border-radius: 35px;
    padding: 0 30px;
    font-size: 30px;

    right: 100px;
    top: 13px;
}

#deleteButton, #deleteProjectButton {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    transform: rotate(45deg);
}

#deleteButton {
    font-size: 95px;

    right: 25px;
}

dialog  {
    background-color: #ffea2a;
    border-radius: 10px;
    margin: auto;
}

dialog button {
    font-size: 35px;
}

legend{
    font-size: 38px;
}

dialog p, label {
    font-size: 30px;
    padding-right: 10px;
}

.dialogButtons {
    justify-self: center;
}

dialog button {
    padding: 15px 30px 0;
}

fieldset {
    border: 2px solid #f9ff9f;
    border-radius: 10px;
}

input {
    border: none;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 22px;
    margin: 5px 0;
}

input:hover {
    cursor: text;
}

input[type='radio'] {
    width: 25px;
    height: 25px;
    cursor: pointer;
    accent-color: #FFBF65;
}

input[type='text'] {
    font-family: "Arial", sans-serif;
    min-width: auto;
    max-width: 300px;
    height: 35px;
}

.priorityChoice {
    font-size: 25px;
}

.projectButtons {
    width: 170px;
    padding: 0;
    height: 45px;
}

#deleteProjectButton {
    opacity: 0;
}

#deleteProjectButton:hover, .projectButtons:hover + #deleteProjectButton {
    opacity: 1;
}

#deleteProjectButton, #deleteProjectButton:hover {
    font-size: 50px;
    padding: 8px 5px;

    left: 11.5vw;
    top: -10px;
}

input[type="text"]:required:invalid {
    border: 2px solid rgb(255, 91, 70);
    background-color: #ffe0e0;
    box-shadow: 0 0 2px rgb(255, 91, 70);
}

input:required:valid {
    border: 2px solid rgb(0, 170, 0);
    background-color: #dcffcc;
}

.required:after {
  content: " *";
  color: rgb(255, 91, 70);
}