@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

:root {
    font: 20px "Kirang Haerang", sans-serif;
}

* {
    margin: 0;
    cursor: default;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 3.75fr;
    height: 100vh;
}

h1, h2, #user {
    color: #6DACFF;
}

h1 {
    font-size: 95px;
    padding-top: 70px;
}

h2 {
    font-size: 65px;
    padding: 100px 0 10px;
}

h3 {
    font-size: 55px;
}

h4 {
    font-size: 30px;
}

button {
    font-size: 40px;
}

button:hover, #user-and-pic:hover {
    cursor: pointer;
}

h4:hover {
    color: #b6d6ff;
}

main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

#tasks {
    padding-left: 120px;
}

nav, button {
    color: white;
}

nav {
    background-color: #FFEE53;
    display: flex;
    flex-direction: column;
    padding: 70px 0 0 90px;
    gap: 250px;
}

nav > div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

button {
    background: none;
    border: none;
    font-family: "Kirang Haerang", sans-serif;
    padding: 0;
}

button:hover {
    color: #f9ff9f;
}

#user-and-pic {
    display: flex;
    align-items: center;
    gap: 20px;
    font-style: italic;
    letter-spacing: 0.5px;
    justify-content: end;
    padding: 30px 60px 0 0;
}

#user-pic {
    background-color: #D6D6D6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}