@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

:root {
    font: 20px "Kirang Haerang", sans-serif;
}

* {
    margin: 0;
    cursor: default;
}

body {
    display: grid;
    grid-template-columns: 1fr 3.75fr;
    height: 100vh;
}

h1, #user {
    color: #6DACFF;
}

h1 {
    font-size: 90px;
    padding: 70px 120px;
}

h2 {
    font-size: 50px;
}

button:hover, li:hover, #user-and-pic:hover {
    cursor: pointer;
}

h3:hover {
    color: #b6d6ff;
}

main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

nav, button {
    color: white;
}

nav {
    background-color: #FFEE53;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    gap: 250px;
}

nav > div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

button, li {
    font-size: 40px;
}

button {
    background: none;
    border: none;
    font-family: "Kirang Haerang", sans-serif;
}

button:hover, li:hover {
    color: #f9ff9f;
}

ul {
    list-style: none;
    padding: 10px 0;
}

#user-and-pic {
    display: flex;
    align-items: center;
    gap: 20px;
    font-style: italic;
    letter-spacing: 0.5px;
    justify-content: end;
    padding: 20px 50px 0 0;
}

#user-pic {
    background-color: gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}